{% extends 'AppDario/base.html' %}

{% load static %}

{% block title %}
    Cambiar contraseña 
{% endblock title %}

{% block main %}
    <!-- Header-->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container px-5">
                <h1 class="masthead-heading mb-0">Cambio de contraseña</h1>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

    <form method="POST" class="m-2">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Cambiar" class="btn btn-primary">
    </form>
{% endblock main %}