{% extends 'AppDario/base.html' %}

{% load static %}

{% block titulo %}
    Eliminar Cuenta
{% endblock titulo %}

{% block main %}
<!-- Header-->
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">Elimina tu cuenta</h1>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

    <form action="{% url 'eliminarcuenta' object.id %}" method="POST" class="m-2">
        {% csrf_token %}
        <p>Querés eliminar tu cuenta?</p>
        <input type="submit" value="Confirmar" class="btn btn-primary">
    </form>
{% endblock main %}