{% extends 'AppDario/base.html' %}
{% load static %}

{% block title %}
    Mostrar Cuenta
{% endblock title %}

{% block main %}
    <!-- Header-->
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">Mostrar</h1>
            <h2 class="masthead-subheading mb-0">Perfiles</h2>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Leer más:</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

    <div class="row">
        <div class="card m-2" style="width: 18rem;" >
            <div class="card-body">
            <h5 class="card-title">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
            <p class="card-text">Email: {{ request.user.email }}</p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;" >
    </div>

{% endblock main %}