{% extends 'AppDario/base.html' %}
{% load static %}

{% block titulo %}
    Ver Cuenta
{% endblock titulo %}

{% block main %}
    <!-- Header-->
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">Tu cuenta</h1>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<div class="col-8">
    <div class="card m-2" style="border-radius: 15px;">
        <div class="card-body p-4">
            <div class="d-flex text-black">
                <div class="flex-shrink-0">
                    {% if request.user.cuenta.avatar %}
                        <img src={{request.user.cuenta.avatar.url}} alt="avatar" style="width: 60px; height:50px;" class="rounded-circle img-fluid">
                    {% endif %}
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5 class="mb-1">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
                    <p class="mb-2 pb-1" style="color: #2b2a2a;">Email: {{request.user.email}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a href="{% url 'editarcuenta' %}" class="m-2 btn btn-primary">Editar cuenta</a>
    <a href="{% url 'eliminarcuenta' user.id %}" class="m-2 btn btn-primary">Eliminar cuenta</a>
</div>

{% endblock main %}